
/* This is the area under the search bar  */
.recent-search {
    display: flex; 
    justify-content: flex-start; 
    flex-wrap: wrap; 
    margin: 20px; 
}

/* Styling the buttons  */
.wrap-buttons {
    border: 1px solid lightpink; 
    margin-left: 2px; 
    margin-bottom: 2px; 
    border-radius: 5px; 
}

/* Line within the button  */
.btn-delete {
    border-left: 1px solid gray; 
    border-radius: 0px; 
}

.giphy-content {
    column-count: 3; 
    column-gap: 2px; 
}

.giphy {
    border: 1px solid rgb(160, 154, 157); 
    page-break-inside: avoid; 
    position: relative;
    overflow: hidden;
    margin: 5px; 
    padding: 0px; 
    margin-bottom: 10px; 
    background-color: white; 
    box-shadow: 5px 5px 5px lightslategrey; 
}


/* image  within the giphy container*/
.giphy img {
    width: 100%; 
    height: 100%; 
}


/* Play button  */
.fa-play {
    font-size: 20px; 
    background-color: white; 
    border-radius: 55%; 
    padding: 10px; 
    position: absolute; 
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, 0); 
    opacity: 0;
    cursor: pointer;
}


/* when user hovers === show play button  */
.giphy-image:hover .img-play {
    opacity: 1;
}

/* Content under the image in the containier */
.giphy-info {
    display: flex; 
    justify-content: space-between; 
    margin: 10px; 
    padding-bottom: 35px; 
}

/* this is styling the link within the giphy cotainer  */
.giphy-footer { 
    text-align: center; 
    border: 1px solid lightpink; 
    position: absolute; 
    bottom: 0px; 
    width: 100%; 
    cursor: pointer;
    padding-top: 10px; 
}

.active {
    background-color: hotpink; 
}
